<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>CI4JFilter</filter-name>
		<display-name>CI4JFilter</display-name>
		<description></description>
		<filter-class>org.ci4j.web.CI4JFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CI4JFilter</filter-name>
		<url-pattern>/CI4JFilter</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ci4jServlet</servlet-name>
		<servlet-class>org.ci4j.web.CI4JServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ci4jServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
